# Spring Datasource Configuration
spring:
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/club?serverTimezone=Asia/Seoul
    username: root
    password: 6298
    hikari:
      max-lifetime: 1800000 # 30?
      idle-timeout: 600000 # 10?
      connection-timeout: 30000 # 30?
    http:
      encoding:
        charset: UTF-8
        enabled: true
        force: true


    # JPA Configuration
  jpa:
    defer-datasource-initialization: false
    properties:
      hibernate:
        open-in-view : true
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.MySQLDialect


logging:
  file:
    name: application.log
  level:
    org.springframework: INFO
    com.yourpackage: DEBUG

club:
  join-code: "0506"
  jwt:
    secretKey: IaxBKbMeY5LjofoAIdmlCI57qRtHbRZef71zVwgip5BuNPK0nccM4oJYUJQoaPYeDfBmeYWBzRd4j1XYEx26gQ==

    access:
     expiration: 3600000 # 1시간(60분) (1000L(ms -> s) * 60L(s -> m) * 60L(m -> h))
     header: Authorization

    refresh:
     expiration: 1209600000 #  (1000L(ms -> s) * 60L(s -> m) * 60L(m -> h) * 24L(h -> 하루) * 14(2주))
     header: Authorization-refresh